table{
    margin-left: auto;
    margin-right: auto;
    width: 90%; /* Opcional: ajusta el ancho de la tabla */
    height: 90%;
    border: none;
}
.desaparecer{
    display: none;
}
.tablearriba {
    
    padding: 8px;
    vertical-align: top; /* Alinea el contenido hacia arriba */
}
/* Estilos básicos para el popup */
.popup-container {
    display: none; /* Ocultarlo por defecto */
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 40%;
    padding-top: 5%;
    margin:auto 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px; /* Puedes ajustar el tamaño según necesites */
    text-align: center;
}

.close-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

#paypal-button {
    background-color: #0070ba;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

#paypal-button:hover {
    background-color: #005e8c;
}
